:root {
    background-color: black;
}

.Startbtn {
    top: 40%;
    position: absolute;
    background-color: #008CBA;
}

.Scorebtn {
    top: 43%;
    position: absolute;
    background-color: #4caf50;
}

h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.Wrapper {
    text-align: center;
}

#progressbar {
    width: 1%;
    height: 30px;
    background-color: yellowgreen;
}

.answer {
    display: flex;
    margin-bottom: 0.8rem;
    width: 50%;
    border-radius: 4px;
    background: blue;
    font-size: 2rem;
    min-width: 80rem;
}